html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cell {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.score {
    flex: 1;
}

.space {
    flex: 1;
}

.rowBorder {
    border-bottom: 5px solid black;
}

.cellBorder {
    border-right: 5px solid black;
}