html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cell {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}