html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cell {
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.score {
    flex: 1;
}

.space {
    flex: 1;
}

.rowBorder {
    border-bottom: 8px solid black;
}

.cellBorder {
    border-right: 8px solid black;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.players {
    display: flex;
    gap: 50px;
    text-align: center;
    font-size: 30px;
}

.result {
    height: 40px;
    color: red;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}